/* reset all */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Bubblegum Sans", cursive;
}

header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.cart-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cart-link {
  padding: 20px;
  font-size: 25px;
  color: #ef6637;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-image {
  width: 300px;
}

.desktop-image {
  display: none;
}

.food-container {
  padding: 20px;
}

.food-items {
  display: flex;
  flex-wrap: wrap;
}

.food-items li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.food-images {
  height: 150px;
  width: 150px;
  border-radius: 20%;
  padding: 5px;
}

.add-to-cart {
  font-family: "Bubblegum Sans", cursive;
  color: #ef6637;
  border-radius: 15px;
  border: 1px solid #ef6637;
  padding: 10px;
  margin: 5px;
}

.cart-ul {
  display: none;
  height: stretch;
  width: stretch;
  border: 1px solid white;
  background-color: #ef6637;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 10px;
  z-index: 1;
}

.cart-li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-food-images {
  height: 50px;
  width: 50px;
  border-radius: 20%;
  padding: 5px;
}
.check-out-div button {
  width: 45%;
  box-sizing: border-box;
}

.cash-form,
.credit-form {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

#tender-amount,
#cc-number,
#cc-cvv,
#cc-exp-month,
#cc-exp-year {
  border-radius: 15px;
  padding: 5px;
}

.receipt-paper {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
}

.checkout-button,
.cash-button,
.credit-button,
.cash-out,
.run-card,
.print-receipt {
  font-family: "Bubblegum Sans", cursive;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
}
footer {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-img {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.socials-ul {
  display: flex;
  justify-content: space-around;
}

.socials-li {
  height: 50px;
  width: 100px;
}

i.fa-brands {
  color: #ef6637;
  font-size: 32px;
  padding: 10px;
}

@media only screen and (min-width: 762px) {
  .mobile-image {
    display: none;
  }
  .desktop-image {
    display: block;
    width: 800px;
    height: 500px;
  }

  .food-items li {
    flex: 20%;
  }
} ;
