/* reset all */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: white;
  font-family: "Bubblegum Sans", cursive;
}

header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ef6637;
  z-index: 1;
  transform: rotate(330deg);
}

main {
  background: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: white;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.iconify {
  padding: 20px;
  font-size: 30px;
  color: #ef6637;
}

a {
  text-decoration: none;
}

.cart-link {
  padding: 20px;
  font-size: 30px;
  color: #ef6637;
}

.image-container {
  display: flex;
}

.image-container img {
  width: 300px;
}

.food-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.food-items {
  display: flex;
  flex-wrap: wrap;
}

.food-items li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.food-images {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 20%;
  margin: 20px;
}

.cart-ul {
  display: none;
  border: 1px solid #ef6637;
  background-color: #ef6637;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.cart-div {
  list-style: none;
  text-align: center;
}

.cart-food-images {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  margin: 20px;
}

.cash-form,
.credit-form {
  display: none;
}
button {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.footer-img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.socials-nav {
  height: 50px;
  width: 100px;
}

i.fa-brands {
  color: #ef6637;
  margin-bottom: 10px;
  padding: 15px;
}
