/* reset all */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Bubblegum Sans", cursive;
}

header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ef6637;
  z-index: 1;
  transform: rotate(330deg);
}

main {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}

.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  height: 250px;
}

.food-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.food-items {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.food-items li {
  text-align: center;
}

.food-images {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  margin: 20px;
}

.cart-div {
  display: none;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  border: 1px solid #ef6637;
  background-color: #ef6637;
}

.cart-li {
  list-style: none;
  text-align: center;
}

.cart-food-images {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  margin: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.footer-img {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

nav {
  height: 50px;
  width: 200px;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
}

i.fa-brands {
  color: #ef6637;
}
